# lif-explorer systemd control file: http://localhost:1806/lif-explorer/

[Unit]
Description=lif-explorer server: http://localhost:1806/lif-explorer
After=network.target

[Service]
Type=simple
User=lif
Group=lif
WorkingDirectory=/home/lif/lif-explorer
ExecStart=/usr/bin/node /home/lif/lif-explorer/lif_server.js
Restart=on-failure
RestartSec=5

# Optional hardening
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=read-only
PrivateTmp=true
ReadWritePaths=/home/lif # adjust if your app needs write access elsewhere

#Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target

